/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* /////////////////// */

/* header section */

header {
  position: -webkit-sticky;
  position: sticky;
  /* position: fixed; */
  top: 0;
  background-color: #373867;
  height: 116px;
  width: 100%;
  margin-left: 243px;
  z-index: 1;
}
#img-header-hamb {
  height: 34px;
  width: 34px;
  margin: 17px 10px 65px 10px;
}
#img-header-01 {
  height: 74px;
  width: 68px;
  left: 66px;
  top: 22px;
  margin: 22px 8px 20px 12px;
}
#img-header-02 {
  margin-top: 10px;
  margin-left: -20px;
  height: 47px;
  width: 223px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* aside section */

aside {
  background-color: #373867;
  height: 100vh;
  width: 243px;
  position: fixed;
  /* position: absolute; */
}
#aside-logo-1 {
  margin-top: 34px;
  text-align: center;
}
#aside-logo-2 {
  text-align: center;
}
#img-aside-01 {
  height: 45px;
  width: 45px;
}
#img-aside-02 {
  height: 32px;
  width: 124px;
}

#ul-1 {
  margin-top: 50px;
}

#home-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 172px;
  padding-bottom: 22px;
}
#singup-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 172px;
  padding-bottom: 22px;
  padding-top: 22px;
}
#login-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 172px;
  padding-bottom: 22px;
  padding-top: 22px;
}
#contact-menu-list {
  padding-top: 22px;
}
.li-1 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #c4c4c4;
  text-decoration: none;
  padding-bottom: 22px;
  width: 172px;
}

ul {
  margin-left: 26px;
}

/* main section */

main {
  width: 80%;
  margin-left: 316px;
  margin-top: 62px;
}

.section-line {
  border-bottom: 4px solid #d9d9d9;
  height: 600px;
}

#text-first-section {
  display: inline-block;
  height: 139.52830505371094px;
  width: 512px;
}

#main-text {
  margin-top: 34px;
  height: 459px;
  width: 417px;
  left: 316px;
  top: 360px;
}
#img-first-section {
  height: 484px;
  width: 596px;
  bottom: 467px;
  left: 547px;
  border-radius: 22px;
  position: relative;
  display: inline-block;
}
#main-title1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #2f3058;
}
#main-title2 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #626380;
}

#main-subtitle {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  color: #2f3058;
  margin-top: 25px;
}

.main-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/* meet us section */
#meet-us-section {
  height: 500px;
}

.meet-us-img {
  height: 150px;
  width: 150px;
}

.generic-title {
  font-family: Roboto;
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}

.meet-us-section-subt {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  color: #373867;
  /* position: relative;
  bottom: 200px; */
}
.meet-us-section-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #979797;
}
#meet-us-section article {
  display: inline-block;
  width: 500px;
}
#meet-us-section article:nth-child(5) {
  position: relative;
  bottom: 50px;
}
#meet-us-section p,
#meet-us-section h3 {
  position: relative;
  left: 170px;
  bottom: 140px;
}
#meet-us-section p {
  width: 300px;
}
#meet-us-title {
  margin-bottom: 100px;
}
