/* header section */

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #373867;
  height: 116px;
  width: 100%;
  margin-left: 243px;
  z-index: 1;
}
#img-header-hamb {
  height: 34px;
  width: 34px;
  margin: 17px 10px 65px 10px;
}
#img-header-01 {
  height: 74px;
  width: 68px;
  left: 66px;
  top: 22px;
  margin: 22px 8px 20px 12px;
}
#img-header-02 {
  margin-top: 10px;
  margin-left: -20px;
  height: 47px;
  width: 223px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* aside section */

aside {
  background-color: #373867;
  height: 1350px;
  width: 244px;
  position: fixed;
}
#aside-logo-1 {
  margin-top: 34px;
  text-align: center;
}
#aside-logo-2 {
  text-align: center;
}
#img-aside-01 {
  height: 45px;
  width: 45px;
}
#img-aside-02 {
  height: 32px;
  width: 124px;
}
#ul-1 {
  margin-top: 50px;
}
#home-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 172px;
  padding-bottom: 22px;
}
#singup-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 172px;
  padding-bottom: 22px;
  padding-top: 22px;
}
#login-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 172px;
  padding-bottom: 22px;
  padding-top: 22px;
}
#contact-menu-list {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 19px;
  padding-top: 22px;
  color: #46a37c;
}
#arrow-img {
  position: relative;
  bottom: 10px;
  left: 40px;
}
#get-in-menu-list {
  padding-top: 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
  color: #46a37c;
  border-bottom: 2px solid #46a37c;
  width: 90px;
}
.li-1 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #c4c4c4;
  text-decoration: none;
}
.li-2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #c4c4c4;
  margin-top: 30px;
}
.li-2 p {
  display: inline-block;
  position: relative;
  bottom: 5px;
}
#mail-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 197px;
  padding-bottom: 10px;
}
#phone-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 197px;
  padding-bottom: 10px;
}
#address-menu-list {
  border-bottom: 2px solid #c4c4c4;
  width: 197px;
  padding-bottom: 10px;
}
ul {
  margin-left: 26px;
}

/* main section */

main {
  width: 80%;
  margin-left: 316px;
  margin-top: 62px;
}
.section-line {
  border-bottom: 4px solid #d9d9d9;
  height: 600px;
}
#text-first-section {
  display: inline-block;
  height: 139.52830505371094px;
  width: 512px;
}
#main-text {
  margin-top: 34px;
  height: 459px;
  width: 417px;
  left: 316px;
  top: 360px;
}
#img-first-section {
  height: 484px;
  width: 596px;
  bottom: 467px;
  left: 547px;
  border-radius: 22px;
  position: relative;
  display: inline-block;
}
#main-title1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #2f3058;
}
#main-title2 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #626380;
}
#main-subtitle {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  color: #2f3058;
  margin-top: 25px;
}
.main-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/* meet us section */

#meet-us-section {
  height: 700px;
}
.meet-us-img {
  height: 150px;
  width: 150px;
}
.generic-title {
  font-family: Roboto;
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
.meet-us-section-subt {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  color: #373867;
}
.meet-us-section-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 490;
  line-height: 21px;
  color: #979797;
}
#meet-us-section article {
  display: inline-block;
  width: 482px;
  margin-bottom: 42px;
  margin-right: 42px;
}
#meet-us-section article:nth-child(5) {
  position: relative;
  bottom: 45px;
}
#meet-us-section p,
#meet-us-section h3 {
  position: relative;
  left: 170px;
  bottom: 140px;
}
#meet-us-section p {
  width: 300px;
  margin-top: 15px;
}
#meet-us-title {
  margin-bottom: 100px;
}

/* contact us section */

.contact-us-section {
  position: relative;
  height: 800px;
}
.contact-us-section h2 {
  position: absolute;
  top: 50px;
  margin-top: 20px;
}
.contact-us-section form {
  position: absolute;
  top: 200px;
  width: 1270px;
}
.label-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #373867;
  display: block;
}
.form-section {
  height: 400px;
  width: 1100px;
}
.motive-checkbox {
  margin-top: 6px;
}
.name-input {
  display: inline-block;
  width: 600px;
}
.motive-input {
  display: inline-block;
  width: 800px;
  position: absolute;
  bottom: 146px;
  left: 0;
}
.motive-input p {
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.motive-input input {
  display: inline-block;
}
.email-input {
  display: inline-block;
  width: 600px;
  position: absolute;
  bottom: 264px;
  left: 0;
}
.name-input label {
  position: relative;
  bottom: 10px;
}
.email-input label {
  position: relative;
  bottom: 10px;
}
.last-name-input {
  display: inline-block;
  width: 600px;
}
.last-name-input label {
  position: relative;
  bottom: 10px;
}
.last-name-input input {
  width: 400px;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 10px;
  height: 18px;
}
.name-input input {
  width: 400px;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 10px;
  height: 18px;
}
.email-input input {
  width: 400px;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 10px;
  height: 18px;
}
.message-input {
  display: inline-block;
  width: 600px;
  position: absolute;
  top: 280px;
  left: 0;
}
.message-input textarea {
  position: relative;
  top: 20px;
  width: 1000px;
  height: 150px;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
}
.buttons {
  width: 1000px;
  text-align: right;
  position: absolute;
  top: 512px;
  left: 0px;
}
.button-send {
  width: 148px;
  height: 42px;
  background: #373867;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin-right: 21px;
}
.button-send:hover {
  background-color: #6263af;
}
.button-reset {
  font-size: 14px;
  font-weight: 500;
  width: 131px;
  height: 42px;
  background: #fff;
  border-radius: 5px;
  color: #373867;
  border: 1px solid #373867;
}
.button-reset:hover {
  background-color: #46a37c;
  color: #ffffff;
  border: none;
}

/* about us section */

#about-us-title {
  margin-bottom: 30px;
}
#bout-us-section {
  height: 970px;
}
#bout-us-section p {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  color: #6d6d6d;
}
#bout-us-section h3 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #373867;
}
#bout-us-section-p-1 {
  position: relative;
  top: 30px;
}
#bout-us-section-p-2 {
  position: relative;
  top: 60px;
}
#about-us-section-h3-1 {
  position: relative;
  top: 100px;
}
#about-us-section-img-1 {
  position: relative;
  top: 120px;
}
#bout-us-section-p-3 {
  position: relative;
  bottom: 130px;
  left: 287px;
  width: 760px;
}
#bout-us-section-p-4 {
  position: relative;
  bottom: 120px;
  left: 287px;
  width: 373px;
}
#about-us-section-img-2 {
  position: relative;
  bottom: 321px;
  left: 690px;
}
#about-us-section-h3-2 {
  position: relative;
  bottom: 90px;
}
#bout-us-section-p-5 {
  position: relative;
  bottom: 413px;
  width: 660px;
}

/* gym section */

#gym-section {
  height: 900px;
}
#gym-section article {
  display: inline-block;
  border: 2px solid #49a37b;
  box-shadow: 0px 0px 5px 1px #49a37b;
  padding: 30px 30px 30px 30px;
  height: 132px;
  width: 467px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 8px;
  position: relative;
}
#gym-section article:nth-child(3) {
  position: relative;
  left: 65px;
  top: 0px;
}
#gym-section article:nth-child(4) {
  position: relative;
  top: 120px;
}
#gym-section article:nth-child(5) {
  position: relative;
  left: 65px;
  top: 95px;
}
#gym-section h3 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #373867;
  margin-top: -20px;
}
#gym-section ol {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #373867;
  margin-top: 20px;
  margin-left: 20px;
}
#gym-section-title {
  margin-bottom: 100px;
}

/* footer section */

footer {
  top: 0;
  background-color: #2c2c3a;
  height: 99px;
  width: 100%;
  margin-left: 243px;
  text-align: center;
  color: #49a37b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
footer img {
  position: relative;
  top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
#footer-text {
  position: relative;
  top: 25px;
}
