main {
  width: 88%;
  margin-top: 62px;
  margin: 0 44px 0 44px;
  display: flex;
  flex-direction: column;
}
.main-container {
  flex-direction: column;
  width: 100%;
}
.main-section {
  height: 2000px;
}
.text-img-first-section {
  margin-top: 100px;
  display: inline-block;
  height: 748px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-text-section {
  height: 690px;
  width: 90%;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.main-title-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.main-title1 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  line-height: 70px;
  color: #2f3058;
}
.main-title2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  line-height: 70px;
  color: #626380;
}
.main-subtitle {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: #2f3058;
}
.main-text-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-text {
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 417px;
  display: flex;
  justify-content: center;
}
.img-subt-text {
  height: 600px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subt-text-div {
  height: 735px;
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-div {
  text-align: center;
}
.img-first-section {
  bottom: 467px;
  left: 547px;
  border-radius: 22px;
  display: inline-block;
  height: 275px;
  width: 306px;
}
.section-line {
  border-bottom: 4px solid #d9d9d9;
  height: 900px;
  margin-right: 30px;
}
#meet-us-section {
  height: 900px;
}
.meet-us-section-flex {
  display: flex;
  flex-direction: column;
}
.meet-us-title {
  margin-bottom: 80px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
.text-div {
  max-width: 278px;
  margin-left: 15px;
}
.meet-us-img {
  height: 91px;
  width: 91px;
}
#generic-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
.meet-us-section-subt {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  color: #373867;
}
.meet-us-section-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 490;
  line-height: 21px;
  color: #979797;
}
#meet-us-section article {
  display: inline-block;
  width: 90%;
  margin-bottom: 42px;
  margin-right: 42px;
  display: flex;
}
.name-lastName-group {
  display: flex;
  flex-direction: column;
}
.name-last-email-motive-mess {
  display: flex;
  flex-direction: column;
}

.contact-us-title {
  margin-bottom: 80px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
.contact-us-section {
  height: 800px;
}
.contact-us-section h2 {
  margin-top: 20px;
}
.contact-us-section form {
  width: 100%;
}
.label-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 550;
  line-height: 28px;
  color: #373867;
  display: block;
}
.form-section {
  height: 400px;
  width: 100%;
}
.motive-checkbox {
  margin-top: 6px;
}
.name-input {
  display: inline-block;
  width: 100%;
}
.motive-input {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.motive-input p {
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}
.motive-input input {
  display: inline-block;
}
.email-input {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.last-name-input {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.last-name-input input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 10px;
  height: 18px;
}
.name-input input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 10px;
  height: 18px;
}
.email-input input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
  font-size: 10px;
  height: 18px;
}
.message-input {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.message-input textarea {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: roboto;
}
.buttons {
  width: 100%;
  text-align: right;
  margin-top: 15px;
}
.button-send {
  width: 148px;
  height: 42px;
  background: #373867;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin-right: 21px;
}
.button-send:hover {
  background-color: #6263af;
}
.button-reset {
  font-size: 14px;
  font-weight: 500;
  width: 131px;
  height: 42px;
  background: #fff;
  border-radius: 5px;
  color: #373867;
  border: 1px solid #373867;
}
.button-reset:hover {
  background-color: #46a37c;
  color: #ffffff;
  border: none;
}
.about-us-title {
  margin-bottom: 30px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
#bout-us-section {
  height: 1000px;
}
.about-us-img-text-1 {
  display: flex;
}
.about-us-img-text-2 {
  display: flex;
  flex-direction: row-reverse;
}
.about-us-img-text-1 img {
  width: 100px;
  height: auto;
}
.about-us-img-text-2 img {
  width: 100px;
  height: auto;
}
.about-us-img-text-1 p {
  width: 90px;
  height: auto;
}
.about-us-img-text-1-img {
  width: 30%;
}
.about-us-img-text-2-img {
  width: 30%;
}
#bout-us-section p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #6d6d6d;
}
#bout-us-section h3 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 35px;
  color: #373867;
}
#bout-us-section-p-2 {
  margin-top: 20px;
}
.about-us-section-h3-1 {
  margin-top: 30px;
}
#bout-us-section-p-3 {
  width: 60%;
  margin-left: 15px;
}
#bout-us-section-p-4 {
  width: 100%;
}
.about-us-section-h3-2 {
  margin-top: 30px;
}
#bout-us-section-p-5 {
  width: 100%;
}
.gym-section div {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
}
.gym-section article {
  display: inline-block;
  border: 2px solid #49a37b;
  box-shadow: 0px 0px 5px 1px #49a37b;
  padding: 30px 30px 30px 30px;
  height: 110px;
  width: 70%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 8px;
  position: relative;
}
.gym-section h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
  color: #373867;
  margin-top: -20px;
}
.gym-section ol {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  color: #373867;
  margin-top: 0;
  margin-left: 20px;
}
.gym-section-title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
@media (min-width: 601px) {
  .meet-us-img {
    height: 120px;
    width: 120px;
  }
  .about-us-img-text-1 img {
    width: 150px;
    height: 100px;
  }
  .about-us-img-text-2 img {
    width: 150px;
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    padding-left: 244px;
    width: 100%;
  }
  .main-title1 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    color: #2f3058;
  }
  .main-title2 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    color: #626380;
  }
  .main-subtitle {
    font-size: 25px;
    margin-top: 0;
  }
  .img-first-section {
    height: 344px;
    width: 450px;
    bottom: 467px;
    left: 547px;
    border-radius: 22px;
    display: inline-block;
  }
  .main-text {
    font-size: 18px;
  }
  .main-title-section {
    display: flex;
    justify-content: flex-start;
  }
  .img-subt-text {
    height: 735px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .img-div {
    order: 1;
  }
  #generic-title {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
    color: #2f3058;
    margin-top: 88px;
  }
  .subt-text-div {
    height: 440px;
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-text-section {
    width: 515px;
    text-align: left;
  }
  .main-text-div {
    justify-content: flex-start;
  }
  .meet-us-title {
    font-size: 34px;
  }
  .meet-us-img {
    height: 150px;
    width: 150px;
  }
  .meet-us-section-subt {
    font-size: 25px;
  }
  .meet-us-section-text {
    font-size: 18px;
    margin-top: 14px;
    width: 80%;
  }
  #meet-us-section {
    height: 900px;
    width: 1015px;
  }
  #meet-us-section article {
    width: 465px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .text-div {
    max-width: 100%;
    order: 1;
    margin-left: 15px;
  }
  .meet-us-section-flex {
    width: 100%;
    height: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-text {
    width: 45%;
  }
  .gym-section h3 {
    font-size: 30px;
  }
  .gym-section-title {
    font-size: 34px;
  }
  .gym-section ol {
    font-size: 20px;
    margin-top: 20px;
  }
  .gym-section article {
    height: 132px;
    width: 350px;
  }
  .gym-section-title {
    margin-bottom: 100px;
  }
  .gym-section div {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .gym-section {
    height: 700px;
  }
  .about-us-title {
    font-size: 34px;
  }
  .contact-us-title {
    font-size: 34px;
    margin-top: 70px;
  }
  .bout-us-section p {
    font-size: 20px;
  }
  .label-title {
    font-size: 24px;
  }
  .motive-input p {
    font-size: 16px;
  }
  .name-lastName-group {
    flex-direction: row;
    width: 89%;
  }
  #bout-us-section p {
    font-size: 20px;
    line-height: 35px;
  }
  #bout-us-section h3 {
    font-size: 30px;
  }
  .last-name-input {
    margin-top: 0;
  }
  .name-input input {
    margin-top: 10px;
  }
  .last-name-input input {
    margin-top: 10px;
  }
  .email-input input {
    margin-top: 10px;
  }
  .email-input {
    margin-top: 60px;
  }
  .motive-input {
    margin-top: 60px;
  }
  .motive-input input {
    margin-top: 10px;
  }
  .message-input {
    margin-top: 60px;
  }
  .message-input textarea {
    margin-top: 10px;
  }
  .last-name-input {
    margin-left: 30px;
  }
  .contact-us-section {
    height: 1000px;
  }
  .email-input {
    width: 42%;
  }
  .message-input {
    width: 89%;
  }
  .buttons {
    width: 86%;
  }
  .about-us-img-text-1 img {
    width: 300px;
    height: auto;
  }
  .about-us-img-text-2 img {
    width: 300px;
    height: auto;
  }
  #bout-us-section {
    height: 1200px;
  }
  #bout-us-section-p-5 {
    margin-top: 20px;
  }
  .about-us-img-text-1 {
    margin-top: 20px;
  }
}
