main {
  width: 90%;
  margin-top: 62px;
  margin: 0 44px 0 44px;
  display: flex;
  flex-direction: column;
}
.main-container {
  flex-direction: column;
  width: 100%;
}
.main-section {
  height: 2000px;
}
.text-img-first-section {
  margin-top: 100px;
  display: inline-block;
  height: 748px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-text-section {
  height: 690px;
  width: 425px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.main-title-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.main-title1 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  line-height: 70px;
  color: #2f3058;
}
.main-title2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  line-height: 70px;
  color: #626380;
}
.main-subtitle {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: #2f3058;
}
.main-text-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-text {
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 417px;
  display: flex;
  justify-content: center;
}
.img-subt-text {
  height: 600px;
  width: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subt-text-div {
  height: 735px;
  width: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-div {
  text-align: center;
}
.img-first-section {
  bottom: 467px;
  left: 547px;
  border-radius: 22px;
  display: inline-block;
  height: 275px;
  width: 306px;
}
.section-line {
  border-bottom: 4px solid #d9d9d9;
  height: 900px;
}
#meet-us-section {
  height: 780px;
}
.meet-us-section-flex {
  display: flex;
  flex-direction: column;
}
#meet-us-title {
  margin-bottom: 100px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
.text-div {
  max-width: 278px;
}
.meet-us-img {
  height: 91px;
  width: 91px;
}
.meet-us-section-text {
  width: 70%;
}
#generic-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
.meet-us-section-subt {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  color: #373867;
}
.meet-us-section-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 490;
  line-height: 21px;
  color: #979797;
}
#meet-us-section article {
  display: inline-block;
  width: 390px;
  margin-bottom: 42px;
  margin-right: 42px;
  display: flex;

  justify-content: space-between;
}
.gym-section div {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
}
.gym-section article {
  display: inline-block;
  border: 2px solid #49a37b;
  box-shadow: 0px 0px 5px 1px #49a37b;
  padding: 30px 30px 30px 30px;
  height: 94px;
  width: 327px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 8px;
  position: relative;
}
.gym-section h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
  color: #373867;
  margin-top: -20px;
}
.gym-section ol {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  color: #373867;
  margin-top: 0;
  margin-left: 20px;
}
.gym-section-title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  color: #2f3058;
  margin-top: 88px;
}
@media (min-width: 601px) {
}

@media (min-width: 1024px) {
  .main-container {
    padding-left: 244px;
    width: 100%;
  }
  .main-title1 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    color: #2f3058;
  }
  .main-title2 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    color: #626380;
  }
  .main-subtitle {
    font-size: 25px;
    margin-top: 0;
  }
  .img-first-section {
    height: 344px;
    width: 450px;
    bottom: 467px;
    left: 547px;
    border-radius: 22px;
    display: inline-block;
  }
  .main-text {
    font-size: 18px;
  }
  .main-title-section {
    display: flex;
    justify-content: flex-start;
  }
  .img-subt-text {
    height: 735px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .img-div {
    order: 1;
  }
  #generic-title {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
    color: #2f3058;
    margin-top: 88px;
  }
  .subt-text-div {
    height: 440px;
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-text-section {
    width: 515px;
    text-align: left;
  }
  .main-text-div {
    justify-content: flex-start;
  }
  #meet-us-title {
    font-size: 34px;
  }
  .meet-us-img {
    height: 150px;
    width: 150px;
  }
  .meet-us-section-subt {
    font-size: 25px;
  }
  .meet-us-section-text {
    font-size: 18px;
    margin-top: 14px;
    width: 80%;
  }
  #meet-us-section {
    height: 900px;
    width: 1015px;
  }
  #meet-us-section article {
    width: 465px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .text-div {
    max-width: 100%;
    order: 1;
    margin-left: 15px;
  }
  .meet-us-section-flex {
    width: 100%;
    height: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-text {
    width: 45%;
  }

  .gym-section h3 {
    font-size: 30px;
  }

  .gym-section-title {
    font-size: 34px;
  }

  .gym-section ol {
    font-size: 20px;
    margin-top: 20px;
  }
  .gym-section article {
    height: 132px;
    width: 350px;
  }
  .gym-section-title {
    margin-bottom: 100px;
  }
  .gym-section div {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .gym-section {
    height: 700px;
  }

  .about-us-title {
    font-size: 34px;
  }
  .bout-us-section p {
    font-size: 20px;
  }
}
